.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  padding: 100px;
  width: 800px;
  margin: 0 auto;
}
/*-----------------------------------*/
.params {
  margin: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.params__item {
  display: flex;
  justify-content: space-between;
}

.params__name {
  position: relative;
  flex-grow: 1;
  margin-right: 3px;
  overflow: hidden;
}
.params__name::after {
  content: '.......................................................................';
  position: absolute;
  padding-left: 3px;
}

.params__value {
  margin: 0;
  /* max-width: 200px; */
  width: 40%;
}
