.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  padding: 100px;
  width: 400px;
  margin: 0 auto;
}
/*-----------------------------------*/
.filter {
}
.filter__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 48px;
}

.filter__legend {
  margin-bottom: 20px;
  font-size: 18px;
}

.filter__label {
  display: flex;
  align-items: center;
  cursor: pointer;

  .filter:not(:last-child) {
    margin-bottom: 12px;
  }
}

.filter__checkbox-text {
  color: #2a254b;
}

/* Сброс встроенных стилей чекбокса */
.filter__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Стиль для активного состояния чекбокса */
.filter__checkbox:checked {
  background-color: #4e4d93;
  border-color: #4e4d93;
}

/* Кастомный checkbox*/
.filter__checkbox:checked::before {
  content: '';
  position: absolute;
  color: #fff;
  width: 16px;
  height: 16px;
  font-size: 16px;
  left: 1px;
  top: 2px;
  background: url('./checkmark.svg') no-repeat;
}
