:root {
  --white: #fff;
  --primary: tomato;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(216, 216, 216);
  width: 800px;
  padding: 100px 0;
  margin: 0 auto;
}

.wrapper {
  margin-bottom: 50px;

  & :not(:last-child) {
    margin-right: 20px;
  }
}

/*================ base ================*/
.btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  text-wrap: nowrap;
  border-radius: 4px;
}

/*================ color ================*/
.btn--primary {
  color: var(--white);
  border: 1px solid var(--primary);
  background: var(--primary);

  &:hover,
  &:active {
    color: var(--primary);
    background: transparent;
    transition: all 0.3s;
  }
}

.btn--white {
  color: var(--primary);
  border: 1px solid var(--primary);
  background: var(--white);

  &:hover,
  &:active {
    color: var(--white);
    background: var(--primary);
    transition: all 0.3s;
  }
}
.btn--transparent {
  color: var(--white);
  border: 1px solid var(--white);
  background: transparent;

  &:hover,
  &:active {
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.3s;
  }
}

/*================ size ================*/
.btn--large {
  height: 52px;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  padding: 0px 40px;
}

.btn--reg {
  max-width: 195px;
  height: 44px;
  font-size: 14px;
  line-height: 314%;
  padding: 0px 32px;
}

.btn--small {
  max-width: 150px;
  height: 36px;
  font-size: 12px;
  line-height: 300%;
  padding: 0px 24px;
}
